@media only screen and (min-device-width: 1440px) {
   
    #mainTitle {
        top: 0;
        padding-top: 20vh;
        width: 50%;
        margin-left: 25%;
    }

    #introText {
        width: 60%;
        margin-left: 20%;
        position: relative;
        top: 5%;
        text-shadow: 0px 0px 5px black;
    }

    #arrowDown {
        width: 6vw;
        bottom: 1vh;
        left: 47vw;
    }

    #countdown {
        margin-top: 15%;
    }

    .flexContainer {
        margin-top: 100px;
        margin-left: 10%;
        flex-direction: row;
        justify-content: center;
        width: 80%;
        height: 60%;
    }

    /* div.flexCard maakt gebruik van flexbox voor positionering. */
    .flexCard {
        display: block;
        height: 100%;
        width: 100%;
        margin: 0 20px;
        perspective: 1000px;
    }

    .flipCardContainer {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    /* Hierdoor draait de kaart  */
    .flexCard:hover .flipCardContainer {
        transform: rotateY(180deg);
    }

    .flipCardFront, .flipCardBack {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* voor Safari */
        backface-visibility: hidden;
    }

    .flipCardFront {
        color: black;
    }

    .flipCardBack {
        color: white;
        transform: rotateY(180deg);
    }


    .planetMars { 
        height: 40%;
    }

    .starship {
        height: 60%;
    }

    .frontButton {
        display: none;
    }

    .backButton {
        display: block;
    }

    .hoverForMore {
        display: block;
    }

    .slideForMore, .tapForMore {
        display: none;
    }
}