#backTwo rect {
    fill: none;
}


/* smartphone */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    #piechart {
        width: 110%; 
        height: 80%;
        margin-left: -10%;
    }
}


/* tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #piechart {
        width: 120%; 
        height: 70%;
        margin-left: -10%;
        margin-top: -2%;
    }
}


/* small desktop */
@media only screen and (min-device-width : 1025px) and (max-device-width : 1439px) {
    #piechart {
        width: 120%; 
        height: 65%;
        margin-left: -10%;
    }
}

/* large desktop */
@media only screen and (min-device-width: 1440px) {
    #piechart {
        width: 120%; 
        height: 65%;
        margin-left: -10%;
    }
}